div.header {
    background-color:#131414;
    margin-bottom: 1.45rem;
    text-align: left;
    

  h1 {
    color: white;
    text-decoration: none;
    max-width: 960px;
    padding: 1rem;
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
  color: white;
    // background-color: rgba(0, 0, 0, 0.8);

}